.maintext {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    margin: 10px;
}
.App{
    background-color: rgb(250, 227, 251);
}
.Card {
    display: flex;
    width: 50%;
    margin: 10px;
}

.container {

    background-color: rgb(250, 227, 251);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.HomePageText {
    color: black;
    text-decoration-line: none;
    margin: auto 10px;
    font-size: 20px;
    font-family: 'Segoe Print';
    text-align: left;
}