.container {
    display: flex;
    justify-content: center;
}
.navbar {
        background-color: #dfdafd;
    display: flex;
    justify-content: space-around;
    padding: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
    position: relative;
}
.button {
    border: 1px black solid;
    text-shadow: 1px 0 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black;
    background-color: white;
    color: blueviolet;
    padding: 10px;
    font-size: 20px;
    margin: auto 5px;
    border-radius: 10px;
    font-family: 'Segoe Print';
    text-decoration: none;
    cursor: pointer;
}
    .button:hover {
        text-shadow: 1px 0 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black;
        background-color: #e9e5e5;
        color: #ec7bf3;
        padding: 10px;
        font-size: 20px;
        border-color: blue;
        margin: auto 5px;
        border-radius: 10px;
        font-family: 'Segoe Print';
    }
.nav-link {
    color: black;
    text-decoration-line: none;
    margin: auto 10px;
    font-size: 20px;
    font-family: 'Segoe Print';
}
.nav-link:hover {
    color: #b5acac;
    text-decoration-line: none;
    margin: auto 10px;
    font-size: 20px;
    font-family: 'Segoe Print';
}

.search {
    display: inline-block;
    margin: auto 0px;
    font-family: 'Segoe Print';
    width: 85% 
}
.nav-img {
    margin: auto 10px;
    margin-top: 4px;
    border-radius: 10px;
}

.left {
    display: flex;
    width: 33%;
    height: 80%;
    align-items: center;
    justify-content: flex-start;
}
.center{
    display: flex;
    width: 33%;
    height: 80%;
}

.right{
    display: flex;
    width: 33%;
    height: 80%;
    justify-content: flex-end;
}

.modal-content {
    background-color: transparent;
    max-width: 38vw;
    margin: auto;
    border: none;
}

.modal-body{
    &.newUserModal{
        padding: 50px;
        border-radius: 15px;
        background-color: #5d5f61 !important;
        text-align: initial;
    }
    .button_add{
        margin-top: 10px;
    }
}